.container{
    background-color: rgb(255, 249, 196);
    width: 500px;
    height: 500px;
    border: solid #000 5px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 0;
    flex-direction: column;
    
}

.userInp{
    border: none;
    background-color: rgb(2, 119, 189);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: .7em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
    display: flex;
    margin-inline: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}